name: "WF job 1 to job 2"
on: workflow_dispatch
jobs:
  job1:
    runs-on: windows-latest

    # Map a step output to a job output
    outputs:
      output1: ${{ steps.step1.outputs.test }}
      output2: ${{ steps.step2.outputs.test }}
    steps:
      - id: step1
        run: echo "::set-output name=test::ImportantValue1"
      - id: step2
        run: echo "::set-output name=test::ImportantValue2"
